/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// import

@import "html/index";
@import "html/cursos";
@import "html/contacto";
@import "html/sucursales";
@import "html/informacion";
@import "utilidades/variables";
@import "utilidades/mixins";



