// Paleta de colores

$color-menu: to right, #4b4b4b 25%, #959595;
$color-h1: #ffd700;
$color-h2: #ffd700;
$color-menu-botones: #ffd700;
$color-menu-botones-hover: #000000;
$color-card-titulo: #838383;
$color-card-clases: #2c2c2c;

$breakpoint-small: 576px;   // Tamaño para dispositivos móviles pequeños
$breakpoint-medium: 768px;  // Tamaño para tabletas y dispositivos móviles medianos
$breakpoint-large: 992px;   // Tamaño para pantallas de escritorio y tabletas grandes




